/*======================================
THEME NAME: Extreme Georgia 0.1
DESCRIPTION: Typographic Layour for Smashing Magazine competition
CODENAME: ExtremeGeorgia
VERSION: 0.1
AUTHOR: Mohd Huzairy bin Mohd Rezuan @ Bat InfoMalaya
AUTHOR URI: http://www.mentariworks.com
LAST DATE MODIFIED: 28 June 2009
STYLE NAME: Master stylesheet
======================================*/

/* Import external stylesheet */
@import url('reset.css');

/* Common HTML tags */
body {
	background:#fff;
	font: 76%/115% georgia,verdana,arial;
	text-align:left;
	line-height:20px;
	color:#444;
	border-top:10px solid #eee;
}

blockquote {
	background:transparent url(../images/blockquote.png) no-repeat left 9px;
	border-top:3px double #eee;
	border-bottom:3px double #eee;
	padding:15px 0 3px 0;
	margin-bottom:10px;
	font-style:italic;
}

/* Wrapper & Container */
#wrapper {
	width:960px;
	margin:0 auto;
}

/* Header */
#header {
	text-align:center;
	margin:60px 0;
	width:960px;
}

#header h1 a {
	font-size:6em;
	font-weight:normal;
	color:#666;
}

#header p {
	font-size:2em;
	color:#999;
	margin-top:20px;
	letter-spacing:3px;
}

/* Content */
#outer-space {
	width:750px;
	float:left;
}

#hfeed {
	width:540px;
	border:1px solid #ccc;
	float:right;
	padding-bottom:17px;
	margin-bottom:20px;
}

#page-info {
	background:#ccc url(../images/info_bg.png) repeat-x;
	color:#fff;
	font-variant:small-caps;
	text-align:center;
	padding:2px 0;
	font-size:1.2em;
}

#page-info span {
	background:#ccc;
	padding:0 3px;
	letter-spacing:3px;
}

form#system-modules {
	padding-top:30px;
}

ul.pager {
	margin:-10px 0 10px;
}

.item-list ul li {
	padding:0;
	margin:0;
}

.item-list .pager li {
	padding:0;
	margin:0;
}

ul.pager a, ul.pager li.pager-current {
	background:#CCCCCC none repeat scroll 0 0;
	color:#FFFFFF;
	float:left;
	font-size:1.2em;
	font-variant:small-caps;
	margin-left:20px;
	margin-top:-3px;
	padding:3px 10px;
}

.hentry {
	width:520px;
	margin:20px 0;
	overflow:hidden;
	padding:0 10px;
}

.entry-title,
.entry-meta .entry-title{
	font-size:2.2em;
	font-weight:normal;
	line-height:175%;
}

.entry-meta {
	text-align:center;
	background:transparent url(../images/lala.png) no-repeat bottom center;
	padding:0 0 20px 0;
	margin:0 0 10px 0;
	color:#999;
}

.entry-meta p, .entry-meta abbr {
	letter-spacing:3px;
	border:none;
}

.metadata {
	background:transparent url(../images/metadata-bg.png) no-repeat top center;
	text-align:center;
	padding:25px 0 10px 0;
	color:#999;
	letter-spacing:2px;
}

.entry-content {
	padding:0 10px;
}

.entry-content img {
	margin-bottom:10px;
}

.entry-content p {
	font-size:1.15em;
	margin-bottom:15px;
	line-height:165%;
	color:#444;
	width:500px;
	text-align:justify;
}

.separator {
	border-top:1px dotted #ccc;
	margin:20px 0 30px 0;
}

#pager {
	margin:-10px 0 10px 0;
}

/* Links */
a  {
	color:#f25f0f;
}

a:hover {
	color:#444;
	border-bottom:1px dotted #ccc;
}

#header a:hover {
	border:none;
}

.previous a {
	float:left;
	padding:3px 10px;
	background:#ccc;
	color:#fff;
	margin-left:20px;
	font-variant:small-caps;
	font-size:1.2em;
	margin-top:-3px;
}

.next a {
	float:right;
	padding:3px 10px;
	background:#ccc;
	color:#fff;
	margin-right:20px;
	font-variant:small-caps;
	font-size:1.2em;
	margin-top:-3px;
}

div.admin {
	padding-left:30px;
	padding-top:30px;
}

form#block-admin-display-form {
	padding:35px 10px 10px;
}

.previous a:hover, .next a:hover {
	border:none;
	background:#333;
}

dl.node-type-list {
	padding:10px;
}

dt {
	padding-top:5px;
}
/* Sidebar */
#left-sidebar {
	width:175px;
	padding:45px 20px 0 10px;
	float:left;
	text-align:right;
}

#right-sidebar {
	width:175px;
	padding:45px 10px 0 20px;
	float:right;
}

.block {
	margin-bottom: 25px;
}

.block h2 {
	font-variant:small-caps;
	font-size:1.2em;
	font-weight:normal;
	color:#999;
	padding-left:15px;
	margin-bottom:10px;
	border-bottom:1px dotted #ccc;
	letter-spacing:3px;
}

#left-sidebar ul li {
	text-align:right;
	background:transparent url(../images/bullet.png) no-repeat right 5px;
	padding-right:15px;
	margin-bottom:5px;
}

table {
	width:100%;
}

form {
	padding:10px;
}

#right-sidebar ul li {
	background:transparent url(../images/bullet.png) no-repeat left 5px;
	padding-left:15px;
	margin-bottom:5px;
}

.widget {
	margin-bottom:30px;
}

/* Footer */
#footer {
	height:70px;
	text-align:center;
	padding-bottom:10px;
	margin:20px 0;
	color:#999;
	letter-spacing:2px;
}

ul.tabs {
	height: 20px;
}

.tabs li {
	border-right:1px solid #FFFFFF;
	display:inline;
	float:left;
	margin-right:10px;
	padding:5px 5px 0;
}

ul.tabs li.active a, 
ul.tabs li a {
	background:#DCDCDC none repeat scroll 0 0;
}

.tabs li.active a.active, .tabs li:hover a {
	background:#f3f3f3;
}

#first-time {
	padding:10px;
}

/* Images */
.alignleft {
	float:left;
	margin:0 20px 10px 0;
}

.alignright {
	float:right;
	margin:0 0 10px 20px;
}

/* Positioning */
.clear {
	clear:both;
}

/* Custom */
li {
	list-style:none !important;
}

.comment {
	padding: 0 20px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #CCCCCC;
}

.comment.even {
	background-color: #DDD;
}